<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diane's Main Page</title>
</head>
<body>
    <div id="app"></div>
    <p>Nice, you did it.</p>

    <form action="/" method="POST">
        <input type="submit" value="Go back">
    </form>

</body>
</html>