<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diane's Main Page</title>
</head>
<body>
    <div id="app"></div>
    <p>Enter data to go into local rethink database:</p>

    <form action="/dbForm" method="POST">
        ID: <input id="dbId" name="dbId" type="text">
        Value: <input id="dbValue" name="dbValue" type="text">
        <input type="submit" value="Add">
    </form>

</body>
</html>